STUDENT NAME=ESRA BARDAKCI
STUDENT ID=702201004

In [1]:
def Problem1(datafile):
    import pandas as pd
    data=pd.read_csv(datafile,encoding="latin-1")
    a=data.pivot_table(values='Mileage',index='Type',columns='Purchased',aggfunc='mean') #question 1-a section
    def peak_to_peak(x):
        return x.max()-x.min()
    b=data.groupby('Type').agg({'Vehicle_Age':peak_to_peak}) #question 1-b section
    print(a)
    print('\n',b)

In [2]:
Problem1("homework2_data/AutoSurvey.csv")

Purchased            New      Used
Type
Large SUV  130905.000000  185397.0
Mid-size    11424.333333  106810.0
Minivan    180643.000000  182584.0
Small       80405.833333  131022.4
Small SUV   29823.000000  113121.0

            Vehicle_Age
Type
Large SUV         7.00
Mid-size         14.75
Minivan           5.00
Small            11.00
Small SUV        10.00

In [10]:
def Problem2(readfile):
    import pandas as pd
    data2=pd.read_csv(readfile,encoding="latin-1")
    result_1=data2['Complaint Type'].value_counts() #a
    
    result_b=len(data2['Agency Name'].unique()) #b  
    
    result_c=data2.groupby('Borough')['Complaint Type'].value_counts() #c
    final_c=result_c.loc[pd.IndexSlice[:,'Illegal Parking']].sort_values(ascending=False)[:5].rename_axis("") #c   
      
    print(result_1[:10]) #a
    print("\nThe number of unique Agency Names:\n",result_b) #b
    print("\n",final_c)  #c

In [11]:
Problem2("homework2_data/311-service-requests.csv")

HEATING                   14200
GENERAL CONSTRUCTION       7471
Street Light Condition     7117
DOF Literature Request     5797
PLUMBING                   5373
PAINT - PLASTER            5149
Blocked Driveway           4590
NONCONST                   3998
Street Condition           3473
Illegal Parking            3343
Name: Complaint Type, dtype: int64

The number of unique Agency Names:
 135


BROOKLYN         1147
QUEENS            887
MANHATTAN         640
BRONX             391
STATEN ISLAND     278
Name: Complaint Type, dtype: int64

In [6]:
def Problem3(readfile):
    import pandas as pd
    data3=pd.read_csv(readfile,encoding="latin-1")
    result_3a=len(data3['Item'].unique()) #3a
   
    result_3c=data3.groupby('Item')['Transaction'].value_counts() #3c
    final_3c=len(result_3c['Coffee'])  #3c
    
    data3['Quantity Sold']=1
    result_3b=data3.pivot_table(values='Quantity Sold',index='Item',aggfunc='sum') #3b
    result_3b=result_3b.sort_values('Quantity Sold',ascending=False) #3b
    result_3b=result_3b.reset_index() #3b
    result_3b.index+=1 #3b
   
    print("the number of unique Items:",result_3a) #3a   
    print('\n',result_3b.head()) #3b
    print('\nthe number of transactions that have Coffee is',final_3c) #3c

In [7]:
Problem3('homework2_data/BreadBasket_DMS.csv')

the number of unique Items: 95

      Item  Quantity Sold
1  Coffee           5471
2   Bread           3325
3     Tea           1435
4    Cake           1025
5  Pastry            856

the number of transactions that have Coffee is 4528

In [8]:
def Problem4(readfile):
    import pandas as pd
    data4=pd.read_csv(readfile,encoding='utf-8-sig')
    
    a=data4[['Country Name','2016']].sort_values('2016').reset_index(drop=True) #a
    a.index+=1 #a
    a_update=a.iloc[:10] #a 
    
    b=data4.pivot_table(['2010','2016'],index=['Country Name']) #b
    b['Percentage Increase']=((b['2016']-b['2010'])/b['2010'])*100 #b
    b=b.sort_values('Percentage Increase',ascending=False).reset_index() #b
    b.index+=1 #b
    b_update=b[:10] #b
    
    c=data4.pivot_table(['2010','2016'],index=['Country Name']) #c
    c['Percentage Increase']=((c['2016']-c['2010'])/c['2010'])*100  #c
    c['2016']=c['2016'].astype(float)  #c
    boolindex=(c['2016']>10000000) & (c['2010']>10000000)  #c
    c10=c[boolindex]  #c
    c10=c10.sort_values('Percentage Increase',ascending=False).reset_index() #c
    c10.index+=1 #c
    c_update=c10[:10]  #c
    
    
    d=data4.pivot_table(columns='Country Name') #d
    d['world_pct_change']=(d['World'].pct_change()*100) #d
    d_update=d.sort_values('world_pct_change',ascending=False) #d
    d_update=d_update.reset_index() #d
    year=d_update['index'][0] #d
    highest_percentage=d_update["world_pct_change"][0] #d
    
    print(a_update)  #a
    print('\n\n',b_update)  #b
    print('\n\n',c_update) #c
    print('\n',year,'has the highest percentage increase, which is',highest_percentage) #d

In [9]:
Problem4('homework2_data/country_population.csv')

                Country Name     2016
1                     Tuvalu  11097.0
2                      Nauru  13049.0
3                      Palau  21503.0
4     British Virgin Islands  30661.0
5   St. Martin (French part)  31949.0
6                 San Marino  33203.0
7                  Gibraltar  34408.0
8   Turks and Caicos Islands  34900.0
9              Liechtenstein  37666.0
10                    Monaco  38499.0


          Country Name        2010        2016  Percentage Increase
1                Oman   3041460.0   4424762.0            45.481512
2               Qatar   1779676.0   2569804.0            44.397295
3             Lebanon   4337141.0   6006668.0            38.493722
4              Kuwait   2998083.0   4052584.0            35.172509
5              Jordan   7182390.0   9455802.0            31.652584
6               Nauru     10025.0     13049.0            30.164589
7   Equatorial Guinea    951104.0   1221490.0            28.428647
8               Niger  16425578.0  20672987.0            25.858506
9              Angola  23369131.0  28813463.0            23.297109
10             Uganda  33915133.0  41487965.0            22.328770


         Country Name        2010        2016  Percentage Increase
1              Niger  16425578.0  20672987.0            25.858506
2             Angola  23369131.0  28813463.0            23.297109
3             Uganda  33915133.0  41487965.0            22.328770
4   Congo, Dem. Rep.  64523263.0  78736153.0            22.027544
5               Chad  11887202.0  14452543.0            21.580697
6        South Sudan  10067192.0  12230730.0            21.490978
7               Iraq  30762701.0  37202572.0            20.934023
8           Tanzania  46098591.0  55572201.0            20.550758
9        Afghanistan  28803167.0  34656032.0            20.320213
10            Zambia  13850033.0  16591390.0            19.793144

 1969 has the highest percentage increase, which is 2.1164342259097246